.add-container{
    width: 60%;
    border: 1px solid red;
    display: flex;
    border: 1px solid black;
    position: relative;
    background-color: white;
    align-items: center;
    justify-content: center;
    padding: 10px 5px;
    flex-direction: column;
    row-gap: 10px;
}
.add-container input{
    width: 80%;
    height: 30px;
    text-align: center;
}
input:focus{
    border-radius: 10px;
}
.repo-add-final{
    width: 50px;
    height: 20px;
}
.main-container-data{
    width: 100%;
    position: fixed;
    top: 0;
    height: 100vh;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(0, 0, 0, 0.452);
}
.close-btn-1{
    position: absolute;
    top: 0%;
    right: 0;

}